!!!  
%html  
  %head  
    %title Box-Test 
    %link{:href=>'css/style.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}  
  %body  
    #wrapper  
      #header  
        %h1 Box-Test 
        %h2 Box-Test Sinatra and HAML!  
      #nav  
        %ol  
          %a(href="/")  
            %li Home  
          %a(href="about")  
            %li About
        - if @signed_in
          %a(href="logout")  
            %li Logout
        - else
          %a(href="login")  
            %li Login
      #content  
        =yield
      #footer  
        %p  
          This is the footer.  